*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100vh;
}
body{
    width: 100%;
    height: 100vh;
}
.Header{
    display: flex;
    width: 95%;
    margin: auto;
    height: 56px;
    justify-content: space-between;
    
    
}
.sol-teref{
    display: flex;
}
.orta-teref{
    display: flex;
    margin-top: .7rem;
    
}
.sag-teref{
    display: flex;
    margin-top: 1rem;
    width: 225px;
    height: 40px;
    margin-right: 4rem;
}
.sag-teref .asd{
    margin-right: 3rem;
}
.menu-bar i{
    font-size: 1.3rem;
   margin-top:1.5rem;
   margin-right: 2rem;
}
.header-logo{
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.header-logo i{
    margin-top: .2rem;
}
.header-logo a{

    display: flex;
    margin-top: 1.2rem;
    font-size: 1.7rem;
    text-decoration: none;
    color: red;
    text-align: center;
    justify-content: center;

}

.input-header input{
    text-align: left;
    padding: 1px 0px;
    width: 525px;
    height: 45px;

    font-size: 1.2rem;
    border:1px solid gray;
}
.orta-teref .input-button{
    padding: .5rem 1.5rem;
    height: 45px;
    margin-right: 5px;
    font-size: 1.2rem;
    border: 1px solid gray;

}
.orta-teref .input-button i{
    color: gray;
}
.microphone{
    padding: .5rem 1rem;
    height: 45px;
    margin-right: 5px;
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
}
.microphone i{
    color: black;
}

.sag-teref button{
    margin-top: 0rem;
    padding: .5rem 0rem;
    height: 45px;
    margin-right: 5px;
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}
.section-sol{
    width: 270px;
    height: 370px;
    margin-top: 2rem;
   

}
.section-sol .sol-section{
    margin-left: 2rem;
    margin-bottom: 1rem;
    
}
.section-sol .sol-section a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    color: black;
 
    
}
.section-sol .sol-section i{
    margin-right:1.2rem;
    color: black;
}
.home{
    background-color: rgba(128, 128, 128, 0.63);
    padding:.3rem 0rem;
}
.home2{
    margin-top: 3rem;
}

.scroll-menu{
    width: 80%;
    height: 50px;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
    margin-top: 1rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    
   
}

.scroll-menu button{
    font-size: .8rem;
    padding: .4rem .9rem;
    border-radius: 2rem;
    margin-right: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}
.chanel-img img{
    margin-top: 0rem;
    width: 30px;
    border-radius: 50%;
}
.chanel {
    margin-top: .7rem;
    display: flex;
    flex-direction: row;
    
}
.chanel-name{
    display: flex;
    justify-content: center;
    text-align: center;
}
.chanel-name h5{
    font-size: 1rem;
    margin-left: 1rem;
    margin-top:0rem;
    text-align: center;
    justify-content: center;
}

h3{
    margin-top: 2rem;
    text-align: center;
    font-size: .9rem;
    text-transform: uppercase;
    color: gray;
}